body {
    border: solid 10px;
    padding: 50px 50px 50px 50px;
    font-family: sans-serif;
    font-weight: normal;
}
.hana {
    background-color: #F4C2C2;
    font-size: 40px;
}
.hana1 {
    background-color: #F4C2C2;
}
